<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>as</key>
	<dict>
		<key>icon</key>
		<string>page_white_actionscript</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>c</key>
	<dict>
		<key>icon</key>
		<string>page_white_c</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>cpp</key>
	<dict>
		<key>icon</key>
		<string>page_white_cplusplus</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>cs</key>
	<dict>
		<key>icon</key>
		<string>page_white_csharp</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>java</key>
	<dict>
		<key>icon</key>
		<string>page_white_cup</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>h</key>
	<dict>
		<key>icon</key>
		<string>page_white_h</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>js</key>
	<dict>
		<key>icon</key>
		<string>page_white_js</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>php</key>
	<dict>
		<key>icon</key>
		<string>page_white_php</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>rb</key>
	<dict>
		<key>icon</key>
		<string>page_white_ruby</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>html</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>html</string>
	</dict>
	<key>htm</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>html</string>
	</dict>
	<key>asp</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>aspx</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>jsp</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>css</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>m</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>mm</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>sh</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>pl</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>py</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>xml</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>json</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>scpt</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>plist</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>tpl</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>csv</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>el</key>
	<dict>
		<key>icon</key>
		<string>page_white_code</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>ini</key>
	<dict>
		<key>icon</key>
		<string>page_white_gear</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>conf</key>
	<dict>
		<key>icon</key>
		<string>page_white_gear</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>bat</key>
	<dict>
		<key>icon</key>
		<string>page_white_gear</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>yaml</key>
	<dict>
		<key>icon</key>
		<string>page_white_gear</string>
		<key>reader</key>
		<string>code</string>
	</dict>
	<key>pdf</key>
	<dict>
		<key>icon</key>
		<string>page_white_acrobat</string>
		<key>reader</key>
		<string>pdf</string>
	</dict>
	<key>bz2</key>
	<dict>
		<key>icon</key>
		<string>page_white_compressed</string>
		<key>reader</key>
		<string>compressed</string>
	</dict>
	<key>gz</key>
	<dict>
		<key>icon</key>
		<string>page_white_compressed</string>
		<key>reader</key>
		<string>compressed</string>
	</dict>
	<key>tar</key>
	<dict>
		<key>icon</key>
		<string>page_white_compressed</string>
		<key>reader</key>
		<string>compressed</string>
	</dict>
	<key>rar</key>
	<dict>
		<key>icon</key>
		<string>page_white_compressed</string>
		<key>reader</key>
		<string>compressed</string>
	</dict>
	<key>7z</key>
	<dict>
		<key>icon</key>
		<string>page_white_compressed</string>
		<key>reader</key>
		<string>compressed</string>
	</dict>
	<key>zip</key>
	<dict>
		<key>icon</key>
		<string>page_white_compressed</string>
		<key>reader</key>
		<string>compressed</string>
	</dict>
	<key>xls</key>
	<dict>
		<key>icon</key>
		<string>page_white_excel</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>xlsx</key>
	<dict>
		<key>icon</key>
		<string>page_white_excel</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>xlt</key>
	<dict>
		<key>icon</key>
		<string>page_white_excel</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>xltx</key>
	<dict>
		<key>icon</key>
		<string>page_white_excel</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>xltm</key>
	<dict>
		<key>icon</key>
		<string>page_white_excel</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>xlsm</key>
	<dict>
		<key>icon</key>
		<string>page_white_excel</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>ppt</key>
	<dict>
		<key>icon</key>
		<string>page_white_powerpoint</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>pps</key>
	<dict>
		<key>icon</key>
		<string>page_white_powerpoint</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>pot</key>
	<dict>
		<key>icon</key>
		<string>page_white_powerpoint</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>potx</key>
	<dict>
		<key>icon</key>
		<string>page_white_powerpoint</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>pptx</key>
	<dict>
		<key>icon</key>
		<string>page_white_powerpoint</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>pptm</key>
	<dict>
		<key>icon</key>
		<string>page_white_powerpoint</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>potm</key>
	<dict>
		<key>icon</key>
		<string>page_white_powerpoint</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>doc</key>
	<dict>
		<key>icon</key>
		<string>page_white_word</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>pages</key>
	<dict>
		<key>icon</key>
		<string>pages</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>key</key>
	<dict>
		<key>icon</key>
		<string>keynote</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>numbers</key>
	<dict>
		<key>icon</key>
		<string>numbers</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>docx</key>
	<dict>
		<key>icon</key>
		<string>page_white_word</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>dot</key>
	<dict>
		<key>icon</key>
		<string>page_white_word</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>docm</key>
	<dict>
		<key>icon</key>
		<string>page_white_word</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>dotm</key>
	<dict>
		<key>icon</key>
		<string>page_white_word</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>dotx</key>
	<dict>
		<key>icon</key>
		<string>page_white_word</string>
		<key>reader</key>
		<string>office</string>
	</dict>
	<key>vsd</key>
	<dict>
		<key>icon</key>
		<string>page_white_visualstudio</string>
		<key>reader</key>
		<string>none</string>
	</dict>
	<key>swf</key>
	<dict>
		<key>icon</key>
		<string>page_white_flash</string>
		<key>reader</key>
		<string>none</string>
	</dict>
	<key>psd</key>
	<dict>
		<key>icon</key>
		<string>page_white_paint</string>
		<key>reader</key>
		<string>none</string>
	</dict>
	<key>ai</key>
	<dict>
		<key>icon</key>
		<string>page_white_vector</string>
		<key>reader</key>
		<string>none</string>
	</dict>
	<key>txt</key>
	<dict>
		<key>icon</key>
		<string>page_white_text</string>
		<key>reader</key>
		<string>txt</string>
	</dict>
	<key>rtf</key>
	<dict>
		<key>icon</key>
		<string>page_white_text</string>
		<key>reader</key>
		<string>rtf</string>
	</dict>
	<key>bmp</key>
	<dict>
		<key>icon</key>
		<string>page_white_picture</string>
		<key>reader</key>
		<string>image</string>
	</dict>
	<key>jpg</key>
	<dict>
		<key>icon</key>
		<string>page_white_picture</string>
		<key>reader</key>
		<string>image</string>
	</dict>
	<key>jpeg</key>
	<dict>
		<key>icon</key>
		<string>page_white_picture</string>
		<key>reader</key>
		<string>image</string>
	</dict>
	<key>png</key>
	<dict>
		<key>icon</key>
		<string>page_white_picture</string>
		<key>reader</key>
		<string>image</string>
	</dict>
	<key>gif</key>
	<dict>
		<key>icon</key>
		<string>page_white_picture</string>
		<key>reader</key>
		<string>image</string>
	</dict>
	<key>tif</key>
	<dict>
		<key>icon</key>
		<string>page_white_picture</string>
		<key>reader</key>
		<string>image</string>
	</dict>
	<key>mp3</key>
	<dict>
		<key>icon</key>
		<string>page_white_sound</string>
		<key>reader</key>
		<string>sound</string>
	</dict>
	<key>aiff</key>
	<dict>
		<key>icon</key>
		<string>page_white_sound</string>
		<key>reader</key>
		<string>sound</string>
	</dict>
	<key>aif</key>
	<dict>
		<key>icon</key>
		<string>page_white_sound</string>
		<key>reader</key>
		<string>sound</string>
	</dict>
	<key>caf</key>
	<dict>
		<key>icon</key>
		<string>page_white_sound</string>
		<key>reader</key>
		<string>sound</string>
	</dict>
	<key>wav</key>
	<dict>
		<key>icon</key>
		<string>page_white_sound</string>
		<key>reader</key>
		<string>sound</string>
	</dict>
	<key>m4a</key>
	<dict>
		<key>icon</key>
		<string>page_white_sound</string>
		<key>reader</key>
		<string>sound</string>
	</dict>
	<key>m4b</key>
	<dict>
		<key>icon</key>
		<string>page_white_sound</string>
		<key>reader</key>
		<string>sound</string>
	</dict>
	<key>crf</key>
	<dict>
		<key>icon</key>
		<string>page_white_sound</string>
		<key>reader</key>
		<string>sound</string>
	</dict>
	<key>mid</key>
	<dict>
		<key>icon</key>
		<string>page_white_sound</string>
		<key>reader</key>
		<string>sound</string>
	</dict>
	<key>midi</key>
	<dict>
		<key>icon</key>
		<string>page_white_sound</string>
		<key>reader</key>
		<string>sound</string>
	</dict>
	<key>wma</key>
	<dict>
		<key>icon</key>
		<string>page_white_sound</string>
		<key>reader</key>
		<string>sound</string>
	</dict>
	<key>mp4</key>
	<dict>
		<key>icon</key>
		<string>page_white_film</string>
		<key>reader</key>
		<string>video</string>
	</dict>
	<key>wmv</key>
	<dict>
		<key>icon</key>
		<string>page_white_film</string>
		<key>reader</key>
		<string>video</string>
	</dict>
	<key>flv</key>
	<dict>
		<key>icon</key>
		<string>page_white_film</string>
		<key>reader</key>
		<string>video</string>
	</dict>
	<key>mov</key>
	<dict>
		<key>icon</key>
		<string>page_white_film</string>
		<key>reader</key>
		<string>video</string>
	</dict>
	<key>rmvb</key>
	<dict>
		<key>icon</key>
		<string>page_white_film</string>
		<key>reader</key>
		<string>video</string>
	</dict>
	<key>m4v</key>
	<dict>
		<key>icon</key>
		<string>page_white_film</string>
		<key>reader</key>
		<string>video</string>
	</dict>
	<key>3gp</key>
	<dict>
		<key>icon</key>
		<string>page_white_film</string>
		<key>reader</key>
		<string>video</string>
	</dict>
	<key>other</key>
	<dict>
		<key>icon</key>
		<string>page_white</string>
		<key>reader</key>
		<string>none</string>
	</dict>
</dict>
</plist>
